{% extends "base.html" %}
{% block content %}
 
<div>
  <form id="form_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid">
        <span class="col-md-6">
          <select id="order" name="order" class="form-control form-control-sm">
            <option value="desc">최근순</option>
            <option value="asc">오래된순</option>
          </select>
          <select id="option1" name="option1" class="form-control form-control-sm">
            <option value="all">구분 전체</option>
            <option value="VOD">VOD</option>
            <option value="MOVIE">MOVIE</option>
            <option value="USER">USER</option>
          </select>
          <select id="option2" name="option2" class="form-control form-control-sm">
            <option value="all">상태 전체</option>
            <option value="ready">ready</option>
            <option value="request">request</option>
            <option value="completed">completed</option>
            <option value="fail">fail</option>
          </select>
        </span>
        <span class="col-md-6">
          <input id="keyword" name="keyword" class="form-control form-control-sm w-75" type="text" placeholder="" aria-label="Search">
          {{ macros.m_button_group([['globalSearchSearchBtn', '검색'], ['globalSearchResetBtn', '리셋']]) }}
        </span>
      </div>
    </div>
  </form>
  <div id='page1'></div>
  
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(1,  macros.m_strong('IDX')) }}
  {{ macros.m_col(11,  macros.m_strong('Info')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
  <div id='page2'></div>
</div>


<script type="text/javascript">
var last_list_option = "{{arg['fp_item_last_list_option']}}";

$(document).ready(function(){
  tmp = last_list_option.split('|');
  if (tmp.length == 5) {
    $("#order").val(tmp[0]);
    $("#keyword").val(tmp[2]);
    $("#option1").val(tmp[3]);
    $("#option2").val(tmp[4]);
    globalRequestSearch(tmp[1]);
  } else {
    globalRequestSearch('1');
  }
});


function make_list(data) {
  str = '';
  var now = Date.now();
  for (i in data) {
    str += j_row_start();
    str += j_col(1, data[i].id);
    str += j_col(1, data[i].mode);
    if (data[i].scan_mode == null) {
      tmp = 'ADD';
    } else {
      tmp = data[i].scan_mode;
    }
    str += j_col(1, tmp);
    
    if (data[i].status == 'READY') tmp = "준비";
    else if (data[i].status == 'FINISH_ADD') tmp = text_color("정상 추가", 'blue');
    else if (data[i].status == 'FINISH_ADD_FOLDER') tmp = text_color("정상 추가 폴더", 'blue');
    else if (data[i].status == 'FINISH_ADD_ALREADY_IN_DB') tmp = text_color("DB에 이미 있음", 'blue');
    else if (data[i].status == 'FINISH_ALREADY_IN_QUEUE') tmp = text_color("큐에 이미 있음", 'blue');
    else if (data[i].status == 'FINISH_NOT_FIND_LIBRARY') tmp = text_color("라이브러리 폴더 ✖️", 'red');
    else if (data[i].status == 'FINISH_TIMEOVER') tmp = "대기시간 오버";
    else tmp = data[i].status;
    str += j_col(4, tmp);
    
    tmp = data[i].created_time + ' (추가)';
    str += j_col(3, tmp, 'right');
    tmp = '';
    tmp2 = j_button('globalJsonBtn', 'JSON', {'idx':i}, 'success', true, true);
    tmp2 += j_button('globalDbDeleteItemBtn', '삭제', {'id':data[i].id}, 'danger', true, true);
    tmp += j_button_group(tmp2);
    
    str += j_col(2, tmp, 'right');
    str += j_row_end();

    str += j_row_start();
    str += j_col(1, "");
    tmp = j_info_text_left("GDS", data[i].gds_path, 1, 11);
    tmp += j_info_text_left("LOCAL", data[i].local_path, 1, 11);
    str += j_col(10, tmp);
    str += j_row_end();
    if (i != data.length -1) str += j_hr();
  }
  $("#list_div").html(str);
}

//2021.09.07 기다림 전체선택 로직 추가
$("body").on('click', '#check_all_btn', function(e){
  e.preventDefault();
  
  $('input[id^="check|"]').each(function(e){
    $(this).prop("checked", true);
  });
});

$("body").on('click', '#check_none_btn', function(e){
  e.preventDefault();
  $('input[id^="check|"]').each(function(e){
    $(this).prop("checked", false);
  });
});

$("body").on('click', '#recopy_btn', function(e){
  e.preventDefault();
  var item_id = $(this).data('id');
  globalSendCommand("add_copy_force", item_id);
});

$("body").on('click', '#check_recopy_btn', function(e){
  e.preventDefault();
  all = $('input[id^="check|"]');
  str = "";
  for (i in all) {
    if (all[i].checked){
      code = all[i].id.split('|')[1];
      str += code+",";
    }
  }
  if (str == "") {
    notify('선택하세요.', 'warning');
    return;
  }
  globalSendCommand("add_copy_force", str);
});


$("body").on('change', '#order', function(e){
  globalRequestSearch(1);
});

$("body").on('change', '#option1', function(e){
  globalRequestSearch(1);
});

$("body").on('change', '#option2', function(e){
  globalRequestSearch(1);
});

$("body").on('click', '#json_btn', function(e){
  e.preventDefault();
  showModal(current_data.list[$(this).data('idx')]);
});

$("body").on('click', '#db_delete_btn', function(e){
  e.preventDefault();
  globalSendCommand('db_delete', $(this).data('id'), null, null, function(ret){
    globalRequestSearch(current_page);
  });
});

</script>    
{% endblock %}
